* {
  padding: 0;
  margin: 0;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.bt-nav {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0.3));
}

.bt-nav .nav-img {
  width: 25%;
}

.bt-nav .nav-img img {
  width: 50%;
  margin: 1em 0 1em 3em;
}

.bt-nav .nav-t {
  background-color: black;
}

.bt-nav .nav-c {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bt-nav .nav-c .nav-it .nav-b a {
  color: black;
  font-weight: bold;
}

.bt-nav .nav-c .apply {
  background-image: -webkit-gradient(linear, left top, right top, from(#0a369d), to(#082465));
  background-image: linear-gradient(to right, #0a369d, #082465);
  padding: .7em 1.5em;
  border-radius: 1.5em;
}

.bt-nav .nav-c .apply a {
  color: white;
}

.all-div {
  width: 85%;
  margin: 5em auto;
  font-family: 'Nunito', sans-serif;
}

.all-div .d-1 .main-div, .all-div .d-4 .main-div {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.all-div .d-1 .main-div .date, .all-div .d-4 .main-div .date {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 2em;
  width: 5%;
  margin: 0 0 0 2em;
  text-align: center;
  padding: .35em;
}

.all-div .d-1 .main-div .date span, .all-div .d-4 .main-div .date span {
  background-color: white;
  z-index: 99;
}

.all-div .d-1 .main-div .date .big, .all-div .d-4 .main-div .date .big {
  font-size: 1.8em;
}

.all-div .d-1 .main-div img, .all-div .d-4 .main-div img {
  width: 100%;
  -webkit-transition: all .3s linear .1s;
  transition: all .3s linear .1s;
}

.all-div .d-1 .main-div img:hover, .all-div .d-4 .main-div img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-image: rgba(102, 99, 99, 0.2);
}

.all-div .d-1 .edu1, .all-div .d-4 .edu1 {
  position: relative;
  top: -1.5em;
}

.all-div .d-1 .edu1 a, .all-div .d-4 .edu1 a {
  color: white;
  text-decoration: none;
  background-color: blue;
}

.all-div .d-1 .data h1 a, .all-div .d-4 .data h1 a {
  text-decoration: none;
  color: black;
}

.all-div .d-1 .data p a, .all-div .d-4 .data p a {
  text-decoration: none;
}

.all-div .d-1 .data p .leave, .all-div .d-4 .data p .leave {
  color: gray;
}

.all-div .d-1 p, .all-div .d-4 p {
  font-size: .9em;
}

.all-div .d-4 .main-div {
  position: relative;
}

.all-div .d-4 .main-div .date {
  position: absolute;
}

.all-div .d-2, .all-div .d-3 {
  margin: 5em 0;
}

.all-div .d-2 .date, .all-div .d-3 .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.all-div .d-2 .date .dates, .all-div .d-3 .date .dates {
  height: 4em;
  width: 4em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 2px 1px 3px black;
          box-shadow: 2px 1px 3px black;
}

.all-div .d-2 .date .dates span, .all-div .d-3 .date .dates span {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.all-div .d-2 .date .dates .big, .all-div .d-3 .date .dates .big {
  font-size: 1.5em;
}

.all-div .d-2 .date .info, .all-div .d-3 .date .info {
  margin: 0 0 0 4em;
}

.all-div .d-2 .date .info a, .all-div .d-3 .date .info a {
  text-decoration: none;
}

.all-div .d-2 .edu2, .all-div .d-3 .edu2 {
  margin: 0 0 0 8em;
  background-color: blue;
  width: 8%;
  text-align: center;
}

.all-div .d-2 .edu2 a, .all-div .d-3 .edu2 a {
  color: white;
  text-decoration: none;
}

.images {
  height: 250px;
  width: 100%;
}

.images h1 {
  font-size: 40px;
  color: #004987;
  margin: 0rem 5rem;
  padding: 2rem 0px;
}

.images .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2rem 4rem;
}

.images .image .six_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -3em;
  -ms-flex-item-align: center;
      align-self: center;
}

.images .image .four {
  -webkit-animation: rotate 5s linear .2s infinite;
          animation: rotate 5s linear .2s infinite;
}

.foot {
  background-image: url("../images/33.png");
  background-size: cover;
  background-position: center;
}

.foot .main_content .blue_back {
  background-color: #004987;
  width: 75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  margin: 100px auto;
  border-radius: 90px 90px;
}

.foot .main_content .blue_back h1 {
  color: white;
  width: 38vw;
}

.foot .main_content .blue_back .common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot .main_content .blue_back .common .start {
  background-color: #d6b80c;
  border-radius: 30px;
  padding: 15px;
  font-size: 18px;
}

.foot .main_content .blue_back .common .start a {
  text-decoration: none;
  color: white;
}

.foot .main_content .blue_back .common .tutor {
  background-color: #6243aa;
  margin: 0px 30px;
  border-radius: 30px;
  padding: 15px;
  font-size: 18px;
}

.foot .main_content .blue_back .common .tutor a {
  text-decoration: none;
  color: white;
}

.foot .main_content .help {
  margin: 7rem 0;
}

.foot .main_content .help a {
  color: inherit;
}

.foot .main_content .help .all_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.foot .main_content .help .all_links .join ul {
  padding: 20px 0px;
}

.foot .main_content .help .all_links .join ul a {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

.foot .main_content .help .all_links .join ul a:hover {
  color: #0d6edd;
  margin: 0px 20px;
  -webkit-transition: .2s ease-in-out .3s;
  transition: .2s ease-in-out .3s;
}

.foot .main_content .help .help_link ul {
  padding: 20px 0px;
}

.foot .main_content .help .help_link ul a {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

.foot .main_content .help .help_link ul a:hover {
  color: #0d6edd;
  margin: 0px 20px;
  -webkit-transition: .2s ease-in-out .3s;
  transition: .2s ease-in-out .3s;
}

.foot .main_content .help .social ol {
  padding: 20px 0px;
  list-style: none;
}

.foot .main_content .help .social ol li {
  padding: 10px 0px;
}

.foot .main_content .help .social ol li:hover {
  color: #004987;
}

.base {
  height: 50px;
  padding: 20px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 65%;
      grid-template-columns: 35% 65%;
}

.base a {
  color: inherit;
}

.base .right {
  margin: 0px 2.5rem;
}

.base .left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.base .left ul li {
  list-style: none;
}

.base .left ul li a {
  text-decoration: none;
  padding: 0px 10px;
}

@media (min-width: 1800px) and (max-width: 2560px) {
  .all-div {
    margin: 2em 43em;
    width: 50%;
  }
  .images {
    width: 70vw;
    margin: 0 25em;
  }
}

@media (min-width: 1050px) and (max-width: 1500px) {
  .foot .main_content .blue_back {
    position: relative;
    top: -2em;
    left: -2em;
  }
  .foot .main_content .blue_back .common .start, .foot .main_content .blue_back .common .tutor {
    width: 15em;
  }
  .foot .main_content .help {
    margin: 5em 6em;
  }
  .foot .main_content .help .all_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .foot .main_content hr {
    width: 90vw;
    margin: 0 0 0 -32em;
  }
}

@media (min-width: 780px) and (max-width: 1024px) {
  .all-div .d-2 .edu2, .all-div .d-3 .edu2 {
    width: 12%;
  }
  .foot .main_content .blue_back {
    width: 90vw;
  }
  .foot .main_content .blue_back .common .start {
    margin: 0 0 0 -3em;
  }
}

@media (min-width: 430px) and (max-width: 768px) {
  .all-div .d-1 .main-div .date, .all-div .d-4 .main-div .date {
    width: 7vw;
  }
  .all-div .d-2 .main-div .date .dates, .all-div .d-3 .main-div .date .dates {
    width: 15vw;
  }
  .all-div .d-2 .edu2, .all-div .d-3 .edu2 {
    width: 16%;
  }
  .foot .main_content .blue_back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90vw;
  }
  .foot .main_content .blue_back h1 {
    position: relative;
    right: -3em;
  }
  .foot .main_content .blue_back .common {
    width: 90vw;
    margin: .5em -4.5em;
  }
  .foot .main_content .blue_back .common .start {
    position: relative;
    left: 7em;
    width: 30%;
    height: 3em;
  }
  .foot .main_content .blue_back .common .tutor {
    position: relative;
    right: -7em;
  }
}

@media (min-width: 380px) and (max-width: 425px) {
  .z-index .bt-nav .nav-img img {
    width: 25vw;
  }
  .all-div .d-1 .main-div .date, .all-div .d-4 .main-div .date {
    width: 10vw;
    margin: -2em 0 0 0;
  }
  .all-div .d-3 .date .dates, .all-div .d-2 .date .dates {
    width: 15vw;
  }
  .all-div .d-3 .edu2, .all-div .d-2 .edu2 {
    width: 30%;
  }
  .images {
    height: 76vw;
  }
  .images .image {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45% 45%;
        grid-template-columns: 45% 45%;
  }
  .images .image .six_image {
    width: 27vw;
    margin: 0 0 0 1em;
    height: 9vh;
  }
  .foot .main_content .blue_back {
    border-radius: 10em;
    width: 100vw;
    padding: -.5em 0 0 0;
  }
  .foot .main_content .blue_back h1 {
    margin: 0 0 0 .5em;
    white-space: nowrap;
  }
  .foot .main_content .blue_back .common {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .foot .main_content .blue_back .common .start {
    position: relative;
    top: 4em;
    left: -12em;
    width: 100%;
  }
  .foot .main_content .blue_back .common .tutor {
    position: relative;
    left: 3em;
    width: 14em;
    margin: .5em 0 0 -6em;
  }
  .foot .main_content .help {
    margin: 0 0 15em 0;
  }
  .foot .main_content .help .all_links img {
    margin: 0 0 0 13em;
  }
  .foot .main_content .help .all_links .join {
    white-space: nowrap;
    position: relative;
    right: -7em;
  }
  .foot .main_content .help .all_links .help_link {
    position: relative;
    right: 14em;
    top: 13em;
  }
  .foot .main_content .help .all_links .help_link h2 {
    white-space: nowrap;
  }
  .foot .main_content .help .all_links .help_link ul a {
    white-space: nowrap;
  }
  .foot .main_content .help .all_links .social {
    width: 80%;
    position: relative;
    right: 12em;
    top: 13em;
  }
  .foot .main_content .help .all_links .social h2 {
    white-space: nowrap;
  }
  .base {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .base .right {
    width: 53%;
  }
  .base .left {
    white-space: nowrap;
  }
  .base .left ul li {
    padding: 0 -2em;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .z-index .bt-nav .nav-img img {
    width: 25vw;
  }
  .all-div .d-1 .main-div .date, .all-div .d-4 .main-div .date {
    width: 10vw;
    margin: -2em 0 0 0;
  }
  .all-div .d-1 .data, .all-div .d-4 .data {
    font-size: .8em;
  }
  .all-div .d-3 .date .dates, .all-div .d-2 .date .dates {
    width: 24vw;
  }
  .all-div .d-3 .date .info, .all-div .d-2 .date .info {
    margin: 0 0 0 0.9em;
  }
  .all-div .d-3 .edu2, .all-div .d-2 .edu2 {
    width: 30%;
  }
  .images .image {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 42% 42%;
        grid-template-columns: 42% 42%;
    margin: 1em 0 0 2.5em;
  }
  .images .image .six_image {
    width: 70%;
    height: 50%;
  }
  .foot {
    margin: 12em 0 -2em 0;
  }
  .foot .main_content .blue_back {
    border-radius: 6em;
    width: 100vw;
  }
  .foot .main_content .blue_back h1 {
    white-space: nowrap;
  }
  .foot .main_content .blue_back .common {
    left: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .foot .main_content .blue_back .common .start {
    position: relative;
    top: 3em;
    left: -8em;
    width: 103%;
    margin: 1em 0;
  }
  .foot .main_content .blue_back .common .tutor {
    position: relative;
    top: 2em;
    left: -2em;
    width: 14em;
    margin: .5em 0 0 -6em;
  }
  .foot .main_content .help .all_links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 40%;
        grid-template-columns: 40% 40%;
    -ms-grid-rows: 33% 33%;
        grid-template-rows: 33% 33%;
  }
  .base {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .base .right {
    white-space: nowrap;
    width: 53%;
  }
  .base .left {
    white-space: nowrap;
  }
  .base .left ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media (min-width: 0px) and (max-width: 320px) {
  .z-index .bt-nav .nav-img img {
    width: 25vw;
  }
  .all-div .d-1 .main-div .date, .all-div .d-4 .main-div .date {
    width: 14vw;
    margin: -2em 0 0 0;
  }
  .all-div .d-1 .data, .all-div .d-4 .data {
    font-size: .8em;
    white-space: normal;
  }
  .all-div .d-3 .date .dates, .all-div .d-2 .date .dates {
    width: 24vw;
  }
  .all-div .d-3 .date .info, .all-div .d-2 .date .info {
    margin: 0 0 0 0.9em;
  }
  .all-div .d-3 .edu2, .all-div .d-2 .edu2 {
    width: 37%;
    margin: 0 0 0 4em;
  }
  .images .image {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 42% 42%;
        grid-template-columns: 42% 42%;
    margin: 1em 0 0 2.5em;
  }
  .images .image .six_image {
    width: 70%;
    height: 50%;
  }
  .foot {
    margin: 12em 0 -2em 0;
  }
  .foot .main_content .blue_back {
    border-radius: 6em;
    width: 100vw;
  }
  .foot .main_content .blue_back h1 {
    white-space: nowrap;
    margin: 0 0 0 -.5em;
  }
  .foot .main_content .blue_back .common {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: -.5em;
    right: -6em;
  }
  .foot .main_content .blue_back .common .start {
    position: relative;
    top: 2em;
    left: -7em;
    margin: 1em 0;
    width: 103%;
  }
  .foot .main_content .blue_back .common .tutor {
    position: relative;
    top: 1em;
    left: -1em;
    width: 14em;
    margin: .5em 0 0 -6em;
  }
  .foot .main_content .help .all_links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 40%;
        grid-template-columns: 40% 40%;
    -ms-grid-rows: 33% 33%;
        grid-template-rows: 33% 33%;
  }
  .base {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .base .right {
    white-space: nowrap;
    width: 53%;
  }
  .base .left {
    white-space: nowrap;
  }
  .base .left ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}
/*# sourceMappingURL=index.css.map */