@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body .bt-nav {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0.3));
}

body .bt-nav .nav-img {
  width: 32%;
}

body .bt-nav .nav-img img {
  width: 28%;
  margin: 1em 0 1em 3em;
}

body .bt-nav .nav-t {
  background-color: black;
}

body .bt-nav .nav-c {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .bt-nav .nav-c .nav-it .nav-b a {
  color: black;
  font-weight: bold;
}

body .bt-nav .nav-c .apply {
  background-image: -webkit-gradient(linear, left top, right top, from(#0a369d), to(#082465));
  background-image: linear-gradient(to right, #0a369d, #082465);
  padding: .7em 1.5em;
  border-radius: 1.5em;
  white-space: nowrap;
}

body .bt-nav .nav-c .apply a {
  color: white;
}

body .page-main .both {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .page-main .both .info {
  width: 55vw;
  margin: 3em;
  font-size: bold;
}

body .page-main .both .info h1 {
  color: #0a369d;
}

body .page-main .both .info .Co {
  border-bottom: 2px solid #fbb545;
  display: inline;
}

body .page-main .both .info span {
  display: block;
  margin: 1em 0;
}

body .page-main .both .images {
  width: 45vw;
}

body .page-main .both .images img {
  width: 100%;
}

body .page-main a {
  margin: 3em;
  color: white;
  background-color: #0a369d;
  padding: 1em 1.5em;
  border-radius: .8em;
}

body .second-page {
  width: 80vw;
  margin: 5em 0 0 3em;
}

body .second-page .about-benefit {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-gap: 1.5em;
}

body .second-page .about-benefit .icon-box {
  border: 1px solid #9e9595;
  padding: 1em;
}

body .images {
  height: 250px;
  width: 100%;
}

body .images h1 {
  font-size: 40px;
  color: #004987;
  margin: 0rem 5rem;
  padding: 2rem 0px;
}

body .images .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2rem 4rem;
}

body .images .image .six_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -3em;
  -ms-flex-item-align: center;
      align-self: center;
}

body .images .image .four {
  -webkit-animation: rotate 5s linear .2s infinite;
          animation: rotate 5s linear .2s infinite;
}

body .foot {
  background-image: url("../images/33.png");
  background-size: cover;
  background-position: center;
}

body .foot .main_content .blue_back {
  background-color: #004987;
  width: 75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  margin: 100px auto;
  border-radius: 90px 90px;
}

body .foot .main_content .blue_back h1 {
  color: white;
  width: 38vw;
}

body .foot .main_content .blue_back .common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .foot .main_content .blue_back .common .start {
  background-color: #d6b80c;
  border-radius: 30px;
  padding: 15px;
  font-size: 18px;
}

body .foot .main_content .blue_back .common .start a {
  text-decoration: none;
  color: white;
}

body .foot .main_content .blue_back .common .tutor {
  background-color: #6243aa;
  margin: 0px 30px;
  border-radius: 30px;
  padding: 15px;
  font-size: 18px;
}

body .foot .main_content .blue_back .common .tutor a {
  text-decoration: none;
  color: white;
}

body .foot .main_content .help {
  margin: 7rem 0;
}

body .foot .main_content .help a {
  color: inherit;
}

body .foot .main_content .help .all_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .foot .main_content .help .all_links .join ul {
  padding: 20px 0px;
}

body .foot .main_content .help .all_links .join ul a {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

body .foot .main_content .help .all_links .join ul a:hover {
  color: #0d6edd;
  margin: 0px 20px;
  -webkit-transition: .2s ease-in-out .3s;
  transition: .2s ease-in-out .3s;
}

body .foot .main_content .help .help_link ul {
  padding: 20px 0px;
}

body .foot .main_content .help .help_link ul a {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

body .foot .main_content .help .help_link ul a:hover {
  color: #0d6edd;
  margin: 0px 20px;
  -webkit-transition: .2s ease-in-out .3s;
  transition: .2s ease-in-out .3s;
}

body .foot .main_content .help .social ol {
  padding: 20px 0px;
  list-style: none;
}

body .foot .main_content .help .social ol li {
  padding: 10px 0px;
}

body .foot .main_content .help .social ol li:hover {
  color: #004987;
}

body .base {
  height: 50px;
  padding: 20px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 65%;
      grid-template-columns: 35% 65%;
}

body .base a {
  color: inherit;
}

body .base .right {
  margin: 0px 2.5rem;
}

body .base .left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .base .left ul li {
  list-style: none;
}

body .base .left ul li a {
  text-decoration: none;
  padding: 0px 10px;
}

@media (min-width: 1800px) and (max-width: 2560px) {
  body .navbar {
    margin: 0 35em;
  }
  body .page-main {
    margin: 5em 25em;
  }
  body .second-page {
    margin: 5em 25em;
    width: 65vw;
  }
  body .images {
    margin: 5em 25em;
    width: 70vw;
  }
  body .foot .main_content {
    margin: 0 40em;
  }
  body .foot .main_content .blue_back {
    position: relative;
    top: -6em;
    width: 94em;
  }
  body .foot .main_content .blue_back .common {
    width: 58%;
  }
  body .base {
    margin: 0 41em;
  }
}

@media (min-width: 1026px) and (max-width: 1445px) {
  body .foot .main_content .blue_back {
    position: relative;
    top: -2em;
    left: -2em;
  }
  body .foot .main_content .blue_back .common .start, body .foot .main_content .blue_back .common .tutor {
    width: 15em;
  }
}

@media (min-width: 770px) and (max-width: 1025px) {
  body .foot .main_content .blue_back {
    width: 90vw;
  }
  body .foot .main_content .blue_back .common .start {
    margin: 0 0 0 -3em;
  }
}

@media (min-width: 435px) and (max-width: 768px) {
  body .foot .main_content .blue_back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90vw;
  }
  body .foot .main_content .blue_back h1 {
    position: relative;
    right: -3em;
  }
  body .foot .main_content .blue_back .common {
    width: 90vw;
    margin: .5em -4.5em;
  }
  body .foot .main_content .blue_back .common .start {
    position: relative;
    left: 7em;
    width: 30%;
    height: 3em;
  }
  body .foot .main_content .blue_back .common .tutor {
    position: relative;
    right: -7em;
  }
}

@media (min-width: 380px) and (max-width: 430px) {
  body .bt-nav .nav-img img {
    width: 25vw;
  }
  body .page-main .both .info {
    width: 80vw;
  }
  body .page-main .both .images {
    display: none;
  }
  body .second-page .about-benefit {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  body .images {
    height: 25em;
  }
  body .images .image {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 40%;
        grid-template-columns: 40% 40%;
  }
  body .images .image .six_image {
    width: 75%;
    margin: 0 1em;
    height: 9vh;
  }
  body .foot .main_content .blue_back {
    border-radius: 10em;
    width: 100vw;
    padding: -.5em 0 0 0;
  }
  body .foot .main_content .blue_back h1 {
    margin: 0 0 0 .5em;
    white-space: nowrap;
  }
  body .foot .main_content .blue_back .common {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .foot .main_content .blue_back .common .start {
    position: relative;
    top: 4em;
    left: -12em;
    width: 100%;
  }
  body .foot .main_content .blue_back .common .tutor {
    position: relative;
    left: 3em;
    width: 14em;
    margin: .5em 0 0 -6em;
  }
  body .foot .main_content .help {
    margin: 0 0 15em 0;
  }
  body .foot .main_content .help .all_links img {
    margin: 0 0 0 13em;
  }
  body .foot .main_content .help .all_links .join {
    white-space: nowrap;
    position: relative;
    right: -7em;
  }
  body .foot .main_content .help .all_links .help_link {
    position: relative;
    right: 14em;
    top: 13em;
  }
  body .foot .main_content .help .all_links .help_link h2 {
    white-space: nowrap;
  }
  body .foot .main_content .help .all_links .help_link ul a {
    white-space: nowrap;
  }
  body .foot .main_content .help .all_links .social {
    width: 80%;
    position: relative;
    right: 12em;
    top: 13em;
  }
  body .foot .main_content .help .all_links .social h2 {
    white-space: nowrap;
  }
  body .base {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .base .right {
    width: 53%;
  }
  body .base .left {
    white-space: nowrap;
  }
  body .base .left ul li {
    padding: 0 -2em;
  }
}

@media (min-width: 0) and (max-width: 375px) {
  body .bt-nav .nav-img img {
    width: 25vw;
  }
  body .page-main .both .info {
    width: 80vw;
  }
  body .page-main .both .images {
    display: none;
  }
  body .second-page .about-benefit {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  body .images .image {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 42% 42%;
        grid-template-columns: 42% 42%;
    margin: 1em 0 0 2.5em;
  }
  body .images .image .six_image {
    width: 70%;
    height: 9vh;
    margin: 0 1em;
  }
  body .foot {
    margin: 12em 0 -2em 0;
  }
  body .foot .main_content .blue_back {
    border-radius: 6em;
    width: 100vw;
  }
  body .foot .main_content .blue_back h1 {
    white-space: nowrap;
  }
  body .foot .main_content .blue_back .common {
    left: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  body .foot .main_content .blue_back .common .start {
    position: relative;
    top: 3em;
    left: -8em;
    width: 103%;
    margin: 1em 0;
  }
  body .foot .main_content .blue_back .common .tutor {
    position: relative;
    top: 2em;
    left: -2em;
    width: 14em;
    margin: .5em 0 0 -6em;
  }
  body .foot .main_content .help .all_links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 40%;
        grid-template-columns: 40% 40%;
    -ms-grid-rows: 33% 33%;
        grid-template-rows: 33% 33%;
  }
  body .base {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .base .right {
    white-space: nowrap;
    width: 53%;
  }
  body .base .left {
    white-space: nowrap;
  }
  body .base .left ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}
/*# sourceMappingURL=index.css.map */