*{
    padding: 0 ;
    margin: 0;
    &::selection{
        color:red;
        background-color: black;
    }
}

$color :#004987;
$h1_font_size:40px;
$white_color:white;
$for_ul:20px 0px;
$txt_deco:none;
$anchor_color:black; 

// =====================================all mixin functions start from here===========================
@mixin h1_thing{
    font-size: 40px;
    color:#004987 ;
    margin: 0rem 5rem;
    padding: 2rem 0px;
}

@mixin start_tutor{
    border-radius: 30px;
    padding:15px;
    font-size: 18px;
}

@mixin start_a{
    text-decoration: none;
    color:$white_color;
}

@mixin for_a{
    padding:10px 0px;
    display: flex;
    text-decoration: none;
}

@mixin hover_effect{
    color:rgb(13, 110, 221);
    margin:0px 20px ;
    transition: .2s ease-in-out .3s;
}

@mixin offer-price{
    text-transform: uppercase;
    background-color: rgb(65, 155, 65);
    display: inline-block;
    position: relative;
    text-align: center;
    top:10px;
    padding:10px;
    color: $white_color;
    border:1px solid $anchor_color;
    font-size: 13px;
}
// ===================================== all mixin functions end here =======================================


// ==================================== animation ===========================================================
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


@mixin paraa {
    margin-bottom: 12px;
    letter-spacing: 0.5px;
    color: rgb(27, 26, 26);
    font-weight: 600;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 10px;
}

@mixin flat-head {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.4px;
    font-weight: 500;
    color: #0a369d;
}

body{
    .z-index{
        .bt-nav{
            background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0.3));
            .nav-img{
                width:25%;
                img{
                    width:28%;
                    margin:1em 0 1em 3em;
                }
            }
            .nav-t{
                background-color:black
            }
            .nav-c{
                justify-content: space-around;
                .nav-it{
                    .nav-b{
                        a{
                            color:black;
                            font-weight: bold;
                        }
                    }
                }
                .apply{
                    background-image: linear-gradient(to right, #0a369d , #082465);
                    padding:.7em 1.5em ;
                    border-radius: 1.5em;
                    a{
                        color: $white_color;
                    }
                }
            }
        }
    }

    .container{
       display: flex;
       justify-content: space-around;
       .text-box{
        max-width: 670px;
        padding: 10px;
        .title{
            position: relative;
            margin-bottom: 45px;
            h2{
                font-size: 36px;
                line-height: 40px;
                color: #0a369d;
                font-weight: 700;
                letter-spacing: 0.8px;
            }
        }
        .textbox-content{
            .ready{
                font-size: 30px;
                line-height: 35px;
                color: rgb(27, 26, 26);
                font-weight: 600;
                border-bottom: 1px solid #f5f5f5;
                padding-bottom: 10px;
            }
            p{
               @include paraa; 
            }
            .btn-apply{
                margin-top: 50px;
                .btn-bt{
                    border-radius: 4px;
                    color: #000000;
                    font-size: 16px;
                    line-height: 36px;
                    font-weight: 600;
                    text-decoration: none;
                    display: inline-block;
                    letter-spacing: 0.3px;
                    color: #fff;
                    padding: 4px 23px 1px 24px;
                    text-transform: capitalize;
                    background-image: linear-gradient(to right, #0a369d , #082465);
                }
            }
        }
    }
    .about-img{
        img{
            max-width: 100%;
            height: auto;
        }
    }
    }

    .hiring-sec{
        margin: 30px;
        padding: 30px;
        .head-process{
            position: relative;
            margin-bottom: 60px;
            h1{
                @include flat-head;
            }
            h1::after{
                content: "";
                width: 70px;
                background: #ff9933;
                position: absolute;
                height: 1px;
                bottom: 1px;
                margin-left: 23px;
            }
        }
        .steps-hire{
            display: flex;
            flex-direction: row;
            .steps{
                padding: 10px;
                max-width: 300px;
                .number{
                    color: #cbbfff;
                    font-weight: 600;
                    font-size: 70px;
                    line-height: 100px;
                }
                .icon-text{
                    text-align: center;
                    h3{
                        color: #000;
                        font-weight: 600;
                        margin-bottom: 16px;
                        line-height: 1.2;
                        font-size: 19px;
                    }
                    p{
                        color: #576078;
                    }
                }
            }
            
        }   
    }

    .faq-sec{
        background: #e8e5e5;
        padding: 50px 0;
        margin-top: 50px;
        display: block;
        .container{
            display: flex;
            flex-direction: column;
            .head-process{
                margin-bottom: 60px;
                h1{
                    @include flat-head;
                }
            }
            .faqs{
                margin: 50px 0;
                .que-ans{
                    margin: 0 5rem;
                    .sec-que{
                        position: relative;
                        display: -ms-flexbox;
                        display: flex;
                        flex-direction: column;
                        min-width: 0;
                        word-wrap: break-word;
                        background-color: #fff;
                        background-clip: border-box;
                        border-radius: 0.25rem;
                        width:70vw;
                        .que-faq{
                           display: flex;
                           justify-content: space-between;
                           padding: 12px 26px;
                           border-bottom: 1px solid rgba(0, 0, 0, 0.125);
                           width: 100%;
                            a{
                               h6{
                                font-weight: 700;
                                color: #004987;
                                margin: 0;
                                font-size: 17px;
                                word-wrap: normal;
                               }
                            }
                            ion-icon{
                               font-weight: 700;
                               color: #004987;
                               background: #004987;
                               color: white;
                               border-radius: 50px;
                               font-size: 26px;
                               padding: 2px;
                            }
                        }
                        .ans-para{
                            background: #f5f5f5;
                            flex: 1 1 auto;
                            padding: 1.25rem;
                            p{
                                color: #101010;
                                font-size: 17px;
                            }
                        }
                    }
                }
            }
        }
    }

    .images{
        height:250px;
        width:100%;
        h1{
            @include h1_thing
        }
        .image{
            display: flex;
            justify-content: space-around;
            margin: 2rem 4rem;
            .six_image{
                display: flex;
                margin:0 -3em;
                align-self: center;
            }
            .four{
                animation: rotate 5s linear .2s infinite ;
            }
        }
    }

    .foot{
        background-image: url("../images/33.png");
        background-size: cover;
        background-position: center;
    
        .main_content{
            .blue_back{
                background-color: $color;
                width:75vw;
                display: flex;
                padding:3rem;
                margin: 100px auto;
                border-radius: 90px 90px ;
                h1{
                    color: white;
                    width:38vw;
                }
                .common{
                    display: flex;
                    .start{
                        background-color: rgb(214, 184, 12);
                        @include start_tutor;
                        a{
                            @include start_a;
                        }
                    }
                    .tutor{
                        background-color: rgb(98, 67, 170);
                        margin: 0px 30px;
                        @include start_tutor;
                        a{
                            @include start_a;
                        }
                    }
                }
            }
            .help{
                margin:7rem 0;
                a{
                    color: inherit;
                }
                .all_links{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    .join{
                        ul{
                            padding:$for_ul;
                            a{
                                @include for_a();
                                transition: all linear .3s;
                            }   
                            a:hover{
                                @include hover_effect()
                            }
                        }
                    }
                }
                .help_link{
                    ul{
                        padding:$for_ul;
                        a{
                         @include for_a;
                         transition: all linear .3s;
                        }
                        a:hover{
                            @include hover_effect()
                        }
                    }
                }
                .social{
                    ol{
                        padding:$for_ul;
                        list-style: none;
                        li{
                            padding: 10px 0px;
                            &:hover{
                                color:#004987;
                            }
                        }
                    }
                }
            }
        }
    }
    .base{
        height:50px;
        padding: 20px 0px;
        display: grid;
        grid-template-columns: 35% 65%;
        a{
            color: inherit;
        }
    
        .right{
            margin: 0px 2.5rem;
        }
        .left{
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        padding: 0px 10px;
                    }
                }
            }
        }
    }
}


@import "media"