$color :#004987;
$h1_font_size:40px;
$white_color:white;
$for_ul:20px 0px;
$txt_deco:none;
$anchor_color:black;

@mixin h1_thing{
    font-size: 40px;
    color:#004987 ;
    margin: 0rem 5rem;
    padding: 2rem 0px;
}

@mixin start_tutor{
    border-radius: 30px;
    padding:15px;
    font-size: 18px;
}

@mixin start_a{
    text-decoration: none;
    color:$white_color;
}

@mixin for_a{
    padding:10px 0px;
    display: flex;
    text-decoration: none;
}

@mixin hover_effect{
    color:rgb(13, 110, 221);
    margin:0px 20px ;
    transition: .2s ease-in-out .3s;
}

@mixin offer-price{
    text-transform: uppercase;
    background-color: rgb(65, 155, 65);
    display: inline-block;
    position: relative;
    text-align: center;
    top:10px;
    padding:10px;
    color: $white_color;
    border:1px solid $anchor_color;
    font-size: 13px;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.z-index{
    .bt-nav{
        background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0.3));
        .nav-img{
            width:25%;
            img{
                width:28%;
                margin:1em 0 1em 3em;
            }
        }
        .nav-t{
            background-color:black
        }
        .nav-c{
            justify-content: space-around;
            .nav-it{
                .nav-b{
                    a{
                        color:black;
                        font-weight: bold;
                    }
                }
            }
            .apply{
                background-image: linear-gradient(to right, #0a369d , #082465);
                padding:.7em 1.5em ;
                border-radius: 1.5em;
                white-space: nowrap;
                a{
                    color: $white_color;
                }
            }
        }
    }
}
.div{
    font-family: 'Nunito', sans-serif;
    margin:2em 1em;
    .number{
        span{
            font-weight: bold;
        }
    }
}
.images{
    height:250px;
    width:100%;
    h1{
        @include h1_thing
    }
    .image{
        display: flex;
        justify-content: space-around;
        margin: 2rem 4rem;
        .six_image{
            display: flex;
            margin:0 -3em;
            align-self: center;
        }
        .four{
            animation: rotate 5s linear .2s infinite ;
        }
    }
}
.foot{
    background-image: url("../images/33.png");
    background-size: cover;
    background-position: center;

    .main_content{
        .blue_back{
            background-color: $color;
            width:75vw;
            display: flex;
            padding:3rem;
            margin: 100px auto;
            border-radius: 90px 90px ;
            h1{
                color: white;
                width:38vw;
            }
            .common{
                display: flex;
                .start{
                    background-color: rgb(214, 184, 12);
                    @include start_tutor;
                    a{
                        @include start_a;
                    }
                }
                .tutor{
                    background-color: rgb(98, 67, 170);
                    margin: 0px 30px;
                    @include start_tutor;
                    a{
                        @include start_a;
                    }
                }
            }
        }
        .help{
            margin:7rem 0;
            a{
                color: inherit;
            }
            .all_links{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                .join{
                    ul{
                        padding:$for_ul;
                        a{
                            @include for_a();
                            transition: all linear .3s;
                        }   
                        a:hover{
                            @include hover_effect()
                        }
                    }
                }
            }
            .help_link{
                ul{
                    padding:$for_ul;
                    a{
                     @include for_a;
                     transition: all linear .3s;
                    }
                    a:hover{
                        @include hover_effect()
                    }
                }
            }
            .social{
                ol{
                    padding:$for_ul;
                    list-style: none;
                    li{
                        padding: 10px 0px;
                        &:hover{
                            color:#004987;
                        }
                    }
                }
            }
        }
    }
}
.base{
    height:50px;
    padding: 20px 0px;
    display: grid;
    grid-template-columns: 35% 65%;
    a{
        color: inherit;
    }

    .right{
        margin: 0px 2.5rem;
    }
    .left{
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    padding: 0px 10px;
                }
            }
        }
    }
}

@media (min-width:1800px) and (max-width:2562px) {
    div{
        margin:2em 15em;
    }
    .images{
        width:70vw;
        margin:0 25em;
    }
    .foot{
        .main_content{
            margin:0 40em;
            .blue_back{
                position: relative;
                top:-6em;
                width:94em;
                .common{
                    width:58%;
                }
            }
        }
    }
    .base{
        margin:0 41em;
    }
}

@media(min-width:1030px) and (max-width:1500px){
    .foot{
        .main_content{
            .blue_back{
                position: relative;
                top:-2em;
                left:-2em;
                .common{
                    .start, .tutor{
                        width:15em;
                    }
                }
            }
            .help{
                margin:5em 6em;
                .all_links{
                    display: flex;
                    justify-content: space-around;
                }
            }
            hr{
                width:90vw;
                margin:0 0 0 -32em;
            }
        }
    }
    .base{
        margin:0 1.5em;
    }
}

@media(min-width:800px) and (max-width:1024px){
    .foot{
        .main_content{
            .blue_back{
                width:90vw;
                .common{
                    .start{
                        margin:0 0 0 -3em;
                    }
                }
            }
        }
    }
    .base{
        .right{
            margin:0 0 0 -2em;
        }
    }
}

@media  (min-width:426px) and (max-width:768px) {
    div{
        margin:1em;
        .number{
            h1{
                font-size: 1.2em;
            }
        }
    }
    .foot{
        .main_content{
            .blue_back{
                display: flex;
                flex-direction: column;
                width:90vw;
                h1{
                    position: relative;
                    right: -3em;
                }
                .common{
                    width:90vw;
                    margin:.5em -4.5em;
                    .start{
                        position: relative;
                        left:7em;
                        width:30%;
                        height: 3em;
                    }
                    .tutor{
                        position: relative;
                        right:-7em;
                    }
                }
            }
        }
    }
    .base{
        display: flex;
        flex-direction: column;
        .right{
            position: relative;
            right:-16em;
            width: 50%;
        }
        .left{
            ul{
                margin:0 9em;
            }
        }
    }
}

@media (min-width:376px) and (max-width:425px) {
    .z-index{
        .bt-nav{
            .nav-img{
                img{
                    width:25vw;
                }
            }
        }
    }
    div{
        margin:1em;
        .number{
            h1{
                font-size: 1.2em;
            }
        }
    }
    .images{
        height:76vw;
        .image{
            display: grid;
            grid-template-columns: 45% 45%;
            .six_image{
                width:27vw;
                margin:0 0 0 1em;
                height:9vh;
            }
        }
    }
    .foot{
        .main_content{
            .blue_back{
                border-radius: 10em;
                width:100vw;
                padding:-.5em 0 0 0;
                 h1{
                     margin:0 0 0 .5em;
                     white-space: nowrap;
                 }
                 .common{
                     display: flex;
                     flex-direction: column;
                     .start{
                         position: relative;
                         top:4em;
                         left:-12em;
                         width:100%
                     }
                     .tutor{
                         position: relative;
                         // top:4em;
                         left:3em;
                         width:14em;
                         margin: .5em 0 0 -6em;
                     }
                 }
             }
             .help{
                 margin:0 0 15em 0;
                 .all_links{
                     img{
                         margin:0 0 0 13em;
                     }
                     .join{
                         white-space: nowrap;
                         position: relative;
                         right:-7em;
                     }
                     .help_link{
                         h2{
                             white-space: nowrap;
                         }
                         position: relative;
                         right:14em;
                         top:13em;
                         ul{
                             a{
                                 white-space: nowrap;
                             }
                         }
                     }
                     .social{
                         h2{
                             white-space: nowrap;
                         }
                         width:80%;
                         position: relative;
                         right:12em;
                         top:13em;
                     }
                 }
             }
         }
     }
     .base{
         display: flex;
         flex-direction: column;
         .right{
             // margin:0 0 0 -9em;
             width:53%;
         }
         .left{
             white-space: nowrap;
             ul{
                 li{
                     padding:0 -2em;
                 }
             }
         }
     }
}

@media (min-width:326px) and (max-width:375px){
    .z-index{
        .bt-nav{
            .nav-img{
                img{
                    width:25vw;
                }
            }
        }
    }
    .images{
        .image{
            display: grid;
            grid-template-columns: 42% 42%;
            margin:1em 0 0 2.5em;
            .six_image{
                width:70%;
                height:50%;
            }
        }
    }
    .foot{
        margin:12em 0 -2em 0;
        .main_content{
            .blue_back{
                border-radius: 6em;
                width:100vw;
                h1{
                    white-space: nowrap;
                }
                .common{
                    // position: relative;
                    left:5em;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    .start{
                        position: relative;
                        top:3em;
                        left:-8em;
                        width:103%;
                        margin:1em 0;
                    }
                    .tutor{
                        position: relative;
                        top:2em;
                        left:-2em;
                        width:14em;
                        margin: .5em 0 0 -6em;
                    }
                }
            }
            .help{
                .all_links{
                    display: grid;
                    grid-template-columns: 40% 40%;
                    grid-template-rows: 33% 33%;;
                }
            }
        }
    }
    .base{
        display: flex;
        flex-direction: column;
        .right{
            white-space: nowrap;
            width:53%;
        }
        .left{
            white-space: nowrap;
            ul{
                display: grid;
                grid-template-columns: auto auto;
            }
        }
    }
}

@media (min-width:0) and (max-width:325px) {
    .z-index{
        .bt-nav{
            .nav-img{
                img{
                    width:25vw;
                }
            }
        }
    }
    .images{
        .image{
            display: grid;
            grid-template-columns: 42% 42%;
            margin:1em 0 0 2.5em;
            .six_image{
                width:70%;
                height:50%;
            }
        }
    }
    .foot{
        margin:12em 0 -2em 0;
        .main_content{
            .blue_back{
                border-radius: 6em;
                width:100vw;
                h1{
                    white-space: nowrap;
                    margin:0 0 0 -.5em;
                }
                .common{
                    display: flex;
                    flex-direction: column;
                    // position: relative;
                    top:-.5em;
                    right:-6em;
                        .start{
                        position: relative;
                        top:2em;
                        left:-7em;
                        margin:1em 0;
                        width:103%;
                    }
                    .tutor{
                        position: relative;
                        top:1em;
                        left:-1em;
                        width:14em;
                        margin: .5em 0 0 -6em;
                    }
                }
            }
            .help{
                .all_links{
                    display: grid;
                    grid-template-columns: 40% 40%;
                    grid-template-rows: 33% 33%;;
                }
            }
        }
    }
    .base{
        display: flex;
        flex-direction: column;
        .right{
            white-space: nowrap;
            width:53%;
        }
        .left{
            white-space: nowrap;
            ul{
                display: grid;
                grid-template-columns: auto auto;
            }
        }
    }
}