html {
  font-family: 'Nunito', sans-serif;
}

html body .z-index .bt-nav {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0.3));
}

html body .z-index .bt-nav .nav-img {
  width: 25%;
}

html body .z-index .bt-nav .nav-img img {
  width: 28%;
  margin: 1em 0 1em 3em;
}

html body .z-index .bt-nav .nav-t {
  background-color: black;
}

html body .z-index .bt-nav .nav-c {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html body .z-index .bt-nav .nav-c .nav-it .nav-b a {
  color: black;
  font-weight: bold;
}

html body .z-index .bt-nav .nav-c .apply {
  background-image: -webkit-gradient(linear, left top, right top, from(#0a369d), to(#082465));
  background-image: linear-gradient(to right, #0a369d, #082465);
  padding: .7em 1.5em;
  border-radius: 1.5em;
  white-space: nowrap;
}

html body .z-index .bt-nav .nav-c .apply a {
  color: white;
}

html body div .own-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body div .own-nav .own-img {
  width: 70%;
}

html body div .own-nav .own-img img {
  width: 11%;
}

html body .login {
  width: 80vw;
  margin: 5em 0 0 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .login .left, html body .login .right {
  padding: 1em;
  width: 36vw;
  border-right: 1px solid gray;
}

html body .login .left .logo, html body .login .right .logo {
  font-size: 3em;
}

html body .login .left label, html body .login .right label {
  display: block;
}

html body .login .left label::after, html body .login .right label::after {
  content: "*";
  color: red;
}

html body .login .left input[type=email], html body .login .left input[type=password], html body .login .right input[type=email], html body .login .right input[type=password] {
  width: 100%;
  margin: 1em -0.4em;
  padding: 1em 0;
  border: 1px solid gray;
  border-radius: 2em;
}

html body .login .left .regi, html body .login .right .regi {
  display: block;
}

html body .login .left .regi button, html body .login .right .regi button {
  -webkit-transition: all .5s linear .2s;
  transition: all .5s linear .2s;
  width: 100%;
  padding: 1em 2em;
  margin: 1em 0;
}

html body .login .left .regi button:hover, html body .login .right .regi button:hover {
  background-color: black;
  color: white;
}

html body .login .left .regii, html body .login .right .regii {
  display: block;
  -webkit-transition: all .5s linear .2s;
  transition: all .5s linear .2s;
  width: 90%;
  padding: 1em 2em;
  margin: 1em 0;
  background-color: blue;
  color: white;
  text-align: center;
  text-decoration: none;
}

html body .login .left .regii:hover, html body .login .right .regii:hover {
  background-color: black;
}

html body .login .left .password, html body .login .right .password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .login .left .be, html body .login .right .be {
  text-align: center;
  position: relative;
}

html body .login .left .buttons button, html body .login .right .buttons button {
  border-radius: 2em;
  margin: 2em 0;
  padding: 1em 2em;
}

html body .login .left .buttons button a, html body .login .right .buttons button a {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 15vw;
  padding: 1em;
  margin: 2em auto;
  text-decoration: none;
  color: white;
  padding: 4em 2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html body .login .left .buttons button a i, html body .login .left .buttons button a span, html body .login .right .buttons button a i, html body .login .right .buttons button a span {
  font-size: 1.5em;
  color: white;
}

html body .login .left .buttons .face, html body .login .right .buttons .face {
  background-color: #111174;
}

html body .login .left .buttons .goo, html body .login .right .buttons .goo {
  background-color: #4058c5;
}

html body .login .left {
  padding: 1em 3em 0 0;
}

html body .login .right {
  border-right: none;
  margin: 0 0 0 2em;
}

html body .images {
  height: 250px;
  width: 100%;
}

html body .images h1 {
  font-size: 40px;
  color: #004987;
  margin: 0rem 5rem;
  padding: 2rem 0px;
}

html body .images .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2rem 4rem;
}

html body .images .image .six_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -3em;
  -ms-flex-item-align: center;
      align-self: center;
}

html body .images .image .four {
  -webkit-animation: rotate 5s linear .2s infinite;
          animation: rotate 5s linear .2s infinite;
}

html body .foot {
  background-image: url("../images/33.png");
  background-size: cover;
  background-position: center;
}

html body .foot .main_content .blue_back {
  background-color: #004987;
  width: 75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  margin: 100px auto;
  border-radius: 90px 90px;
}

html body .foot .main_content .blue_back h1 {
  color: white;
  width: 38vw;
}

html body .foot .main_content .blue_back .common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .foot .main_content .blue_back .common .start {
  background-color: #d6b80c;
  border-radius: 30px;
  padding: 15px;
  font-size: 18px;
}

html body .foot .main_content .blue_back .common .start a {
  text-decoration: none;
  color: white;
}

html body .foot .main_content .blue_back .common .tutor {
  background-color: #6243aa;
  margin: 0px 30px;
  border-radius: 30px;
  padding: 15px;
  font-size: 18px;
}

html body .foot .main_content .blue_back .common .tutor a {
  text-decoration: none;
  color: white;
}

html body .foot .main_content .help {
  margin: 7rem 0;
}

html body .foot .main_content .help a {
  color: inherit;
}

html body .foot .main_content .help .all_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

html body .foot .main_content .help .all_links .join ul {
  padding: 20px 0px;
}

html body .foot .main_content .help .all_links .join ul a {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

html body .foot .main_content .help .all_links .join ul a:hover {
  color: #0d6edd;
  margin: 0px 20px;
  -webkit-transition: .2s ease-in-out .3s;
  transition: .2s ease-in-out .3s;
}

html body .foot .main_content .help .help_link ul {
  padding: 20px 0px;
}

html body .foot .main_content .help .help_link ul a {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

html body .foot .main_content .help .help_link ul a:hover {
  color: #0d6edd;
  margin: 0px 20px;
  -webkit-transition: .2s ease-in-out .3s;
  transition: .2s ease-in-out .3s;
}

html body .foot .main_content .help .social ol {
  padding: 20px 0px;
  list-style: none;
}

html body .foot .main_content .help .social ol li {
  padding: 10px 0px;
}

html body .foot .main_content .help .social ol li:hover {
  color: #004987;
}

html body .base {
  height: 50px;
  padding: 20px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 65%;
      grid-template-columns: 35% 65%;
}

html body .base a {
  color: inherit;
}

html body .base .right {
  margin: 0px 2.5rem;
}

html body .base .left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

html body .base .left ul li {
  list-style: none;
}

html body .base .left ul li a {
  text-decoration: none;
  padding: 0px 10px;
}

@media (min-width: 1800px) and (max-width: 2700px) {
  html body .z-index {
    width: 70vw;
    margin: 0 25em;
  }
  html body div .own-nav .own-img {
    width: 65%;
  }
  html body .login {
    margin: 7em 0 5em 39em;
    width: 50vw;
  }
  html body .login .left, html body .login .right {
    width: 50%;
  }
  html body .images {
    margin: 0 31em;
    width: 65vw;
  }
  html body .foot .main_content .blue_back {
    position: relative;
    top: -6em;
    width: 94em;
  }
  html body .foot .main_content .blue_back .common {
    width: 58%;
  }
  html body .base {
    margin: 0 41em;
  }
}

@media (min-width: 1100px) and (max-width: 1440px) {
  body div .own-nav .own-img {
    width: 65%;
  }
  body .login .left .buttons, body .login .right .buttons {
    width: 35vw;
  }
  body .login .left .be::before, body .login .right .be::before {
    width: 9em;
  }
  body .login .left .be::after, body .login .right .be::after {
    width: 9em;
  }
  body .foot .main_content .blue_back {
    position: relative;
    top: -2em;
    left: -2em;
  }
  body .foot .main_content .blue_back .common .start, body .foot .main_content .blue_back .common .tutor {
    width: 15em;
  }
  body .foot .main_content .help {
    margin: 5em 6em;
  }
  body .foot .main_content .help .all_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .foot .main_content hr {
    width: 90vw;
    margin: 0 0 0 -32em;
  }
  body .base {
    margin: 0 1.5em;
  }
}

@media (min-width: 770px) and (max-width: 1024px) {
  html body div .own-nav .own-img {
    width: 55%;
  }
  html body .login {
    width: 85vw;
  }
  html body .login .right .be, html body .login .left .be {
    margin: 0 0 0 -2em;
  }
  html body .login .right .be:before, html body .login .left .be:before {
    width: 6em;
  }
  html body .login .right .be:after, html body .login .left .be:after {
    width: 6em;
  }
  html body .login .right .buttons, html body .login .left .buttons {
    width: 49vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 0 -5em;
  }
  html body .login .right .buttons button, html body .login .left .buttons button {
    margin: 1em 3em;
  }
  html body .login .left {
    margin: 0 1em 0 -6em;
    width: 40vw;
  }
  html body .login .right {
    width: 40vw;
  }
  html body .foot .main_content .blue_back {
    width: 90vw;
  }
  html body .foot .main_content .blue_back .common .start {
    margin: 0 0 0 -3em;
  }
  html body .base .right {
    margin: 0;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  html body .z-index .bt-nav .nav-img img {
    width: 25vw;
  }
  html body div .own-nav .own-img {
    width: 37vw;
  }
  html body div .own-nav .own-img img {
    width: 35%;
  }
  html body .images .image {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  html body .images .image .six_image {
    margin: 0 .2em;
  }
  html body .foot .main_content .blue_back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90vw;
  }
  html body .foot .main_content .blue_back h1 {
    position: relative;
    right: -3em;
  }
  html body .foot .main_content .blue_back .common {
    width: 90vw;
    margin: .5em -4.5em;
  }
  html body .foot .main_content .blue_back .common .start {
    position: relative;
    left: 7em;
    width: 30%;
    height: 3em;
  }
  html body .foot .main_content .blue_back .common .tutor {
    position: relative;
    right: -7em;
  }
  html body .base {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body .base .right {
    position: relative;
    right: -16em;
    width: 50%;
  }
  html body .base .left ul {
    margin: 0 9em;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  html body .z-index .bt-nav .nav-img img {
    width: 25vw;
  }
  html body .login {
    width: 64%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body .login .right, html body .login .left {
    border: none;
  }
  html body .login .right .buttons, html body .login .left .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  html body .login .right .buttons button, html body .login .left .buttons button {
    width: 85vw;
    margin: 1em 0 0 2em;
  }
  html body .login .right input[type=email], html body .login .right input[type=password], html body .login .left input[type=email], html body .login .left input[type=password] {
    width: 90vw;
  }
  html body .login .left {
    margin: 0 0 0 -8em;
  }
  html body .login .left .regii {
    width: 80vw;
  }
  html body .login .left .buttons {
    margin: 0 0 0 -3em;
  }
  html body .login .right {
    margin: 0 0 0 -10em;
  }
  html body .login .right .regi button {
    width: 80vw;
  }
  html body .login .right .password {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80vw;
  }
  html body .images {
    height: 76vw;
  }
  html body .images .image {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45% 45%;
        grid-template-columns: 45% 45%;
  }
  html body .images .image .six_image {
    width: 27vw;
    margin: 0 0 0 1em;
    height: 9vh;
  }
  html body .foot .main_content .blue_back {
    border-radius: 10em;
    width: 100vw;
    padding: -.5em 0 0 0;
  }
  html body .foot .main_content .blue_back h1 {
    margin: 0 0 0 .5em;
    white-space: nowrap;
  }
  html body .foot .main_content .blue_back .common {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body .foot .main_content .blue_back .common .start {
    position: relative;
    top: 4em;
    left: -12em;
    width: 100%;
  }
  html body .foot .main_content .blue_back .common .tutor {
    position: relative;
    left: 3em;
    width: 14em;
    margin: .5em 0 0 -6em;
  }
  html body .foot .main_content .help {
    margin: 0 0 15em 0;
  }
  html body .foot .main_content .help .all_links img {
    margin: 0 0 0 13em;
  }
  html body .foot .main_content .help .all_links .join {
    white-space: nowrap;
    position: relative;
    right: -7em;
  }
  html body .foot .main_content .help .all_links .help_link {
    position: relative;
    right: 14em;
    top: 13em;
  }
  html body .foot .main_content .help .all_links .help_link h2 {
    white-space: nowrap;
  }
  html body .foot .main_content .help .all_links .help_link ul a {
    white-space: nowrap;
  }
  html body .foot .main_content .help .all_links .social {
    width: 80%;
    position: relative;
    right: 12em;
    top: 13em;
  }
  html body .foot .main_content .help .all_links .social h2 {
    white-space: nowrap;
  }
  html body .base {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body .base .right {
    width: 53%;
  }
  html body .base .left {
    white-space: nowrap;
  }
  html body .base .left ul li {
    padding: 0 -2em;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  html body .z-index .bt-nav .nav-img img {
    width: 25vw;
  }
  html body .login {
    width: 64%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body .login .right, html body .login .left {
    border: none;
  }
  html body .login .right .buttons, html body .login .left .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  html body .login .right .buttons button, html body .login .left .buttons button {
    width: 85vw;
    margin: 1em 0 0 2em;
  }
  html body .login .right input[type=email], html body .login .right input[type=password], html body .login .left input[type=email], html body .login .left input[type=password] {
    width: 90vw;
  }
  html body .login .left {
    margin: 0 0 0 -8em;
  }
  html body .login .left .regii {
    width: 80vw;
  }
  html body .login .left .buttons {
    margin: 0 0 0 -3em;
  }
  html body .login .right {
    margin: 0 0 0 -10em;
  }
  html body .login .right .regi button {
    width: 80vw;
  }
  html body .login .right .password {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80vw;
  }
  html body .images .image {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 42% 42%;
        grid-template-columns: 42% 42%;
    margin: 1em 0 0 2.5em;
  }
  html body .images .image .six_image {
    width: 70%;
    height: 50%;
  }
  html body .foot {
    margin: 12em 0 -2em 0;
  }
  html body .foot .main_content .blue_back {
    border-radius: 6em;
    width: 100vw;
  }
  html body .foot .main_content .blue_back h1 {
    white-space: nowrap;
  }
  html body .foot .main_content .blue_back .common {
    left: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  html body .foot .main_content .blue_back .common .start {
    position: relative;
    top: 3em;
    left: -8em;
    width: 103%;
    margin: 1em 0;
  }
  html body .foot .main_content .blue_back .common .tutor {
    position: relative;
    top: 2em;
    left: -2em;
    width: 14em;
    margin: .5em 0 0 -6em;
  }
  html body .foot .main_content .help .all_links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 40%;
        grid-template-columns: 40% 40%;
    -ms-grid-rows: 33% 33%;
        grid-template-rows: 33% 33%;
  }
  html body .base {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body .base .right {
    white-space: nowrap;
    width: 53%;
  }
  html body .base .left {
    white-space: nowrap;
  }
  html body .base .left ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media (min-width: 0) and (max-width: 320px) {
  html body .z-index .bt-nav .nav-img img {
    width: 25vw;
  }
  html body .login {
    width: 55vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body .login .right, html body .login .left {
    border: none;
    width: 100%;
  }
  html body .login .right .buttons, html body .login .left .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body .login .right .buttons button, html body .login .left .buttons button {
    width: 85vw;
    margin: 1em 0 0 2em;
  }
  html body .login .right .buttons label, html body .login .left .buttons label {
    white-space: normal;
  }
  html body .login .right input[type=email], html body .login .right input[type=password], html body .login .left input[type=email], html body .login .left input[type=password] {
    width: 90vw;
  }
  html body .login .right .be, html body .login .left .be {
    width: 100vw;
  }
  html body .login .left {
    margin: 0 0 0 -9em;
    border-right: none;
  }
  html body .login .left .regii {
    width: 90vw;
  }
  html body .login .right {
    margin: 0 0 0 -10em;
  }
  html body .login .right .password {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80vw;
  }
  html body .login .right .regi {
    width: 90vw;
  }
  html body .images .image {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 42% 42%;
        grid-template-columns: 42% 42%;
    margin: 1em 0 0 2.5em;
  }
  html body .images .image .six_image {
    width: 70%;
    height: 50%;
  }
  html body .foot {
    margin: 12em 0 -2em 0;
  }
  html body .foot .main_content .blue_back {
    border-radius: 6em;
    width: 100vw;
  }
  html body .foot .main_content .blue_back h1 {
    white-space: nowrap;
    margin: 0 0 0 -.5em;
  }
  html body .foot .main_content .blue_back .common {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: -.5em;
    right: -6em;
  }
  html body .foot .main_content .blue_back .common .start {
    position: relative;
    top: 2em;
    left: -7em;
    margin: 1em 0;
    width: 103%;
  }
  html body .foot .main_content .blue_back .common .tutor {
    position: relative;
    top: 1em;
    left: -1em;
    width: 14em;
    margin: .5em 0 0 -6em;
  }
  html body .foot .main_content .help .all_links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 40%;
        grid-template-columns: 40% 40%;
    -ms-grid-rows: 33% 33%;
        grid-template-rows: 33% 33%;
  }
  html body .base {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body .base .right {
    white-space: nowrap;
    width: 53%;
  }
  html body .base .left {
    white-space: nowrap;
  }
  html body .base .left ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}
/*# sourceMappingURL=index.css.map */